<h1>San Jose, CA</h1>
<div style="display: inline-block;">
	<p><b>Humidity:</b> {{ main['humidity'] }}</p>
	<p><b>Temperature (Average):</b> {{ main['temp'] }}</p>
	<p><b>Temperature (High):</b> {{ main.temp_max }}</p>
	<p><b>Temperature (Low):</b> {{ main.temp_min }}</p>
	<p><b>Status:</b> {{ status.description }}</p>
</div>
<div style="display: inline-block; vertical-align: top; margin-left: 200px;">
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/San_Jose_Museum_of_Art_-_San_Jose%2C_CA_-_DSC03781.JPG/300px-San_Jose_Museum_of_Art_-_San_Jose%2C_CA_-_DSC03781.JPG">
</div>